<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Agenda</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/Views/CSS/Home.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="content">
        <div class="Titulo">Agenda</div>
        <table class="Data">
            <tr class="Linha">
                <td class="Esquerda">
                    <div class="Menu">
                        <button class="material-symbols-outlined centralize-icon">
                            search
                        </button>
                        <br />
                        <button class="material-symbols-outlined centralize-icon">
                            home
                        </button>
                        <br />
                        <button class="material-symbols-outlined centralize-icon">
                            add
                        </button>
                    </div>
                </td>
                <td class="Direita">
                    <div class="Root">
                        <div class="itemLista" id="">
                            <div class="labelNome">NomeContato</div>
                            <div class="sectionBotao" align="right">
                                <button class="material-symbols-outlined buttonList editar">
                                    edit
                                </button>
                                <button class="material-symbols-outlined buttonList deletar">
                                    delete
                                </button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <script src="/Scripts/HomeScript.js"></script>
    <script>
        var Instance = new HomeComponent()

        document.addEventListener('DOMContentLoaded', function () {
            // Código JavaScript aqui
        });
    </script>
</body>
</html>
